{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">

{% endblock %}

{% block body %}
<center>
    <form action="" method="POST">
        <fieldset id="usuario">
            <legend>Identificação do Usuário</legend>
            <p><label for="cnome">Nome:</label><input type="text" name="tnome" id="cnome"></p>
            <p><label for="ccpf">CPF:</label><input type="text" name="tcpf" id="ccpf"></p>
            <p><label for="cemail">Email:</label><input type="text" name="temail" id="cemail"></p>
            <p><label for="csenha">Senha:</label><input type="password" name="tsenha" id="csenha"></p>
            <p><label for="cconf">Confirmar:</label><input type="password" name="tconf" id="cconf"></p>
        </fieldset>
        <fieldset id="telefone">
            <legend>Número do Usuário</legend>
            <p><label for="cddd">DDD:</label><input type="number" name="tddd" id="cddd"></p>
            <p><label for="cnum">Numero:</label><input type="number" name="tnum" id="cnum"></p>
        </fieldset>
        <fieldset id="endereco">
            <legend>Endereço do Usuário</legend>
            <p><label for="clong">Longradura:</label><input type="text" name="tlong" id="clong"></p>
            <p><label for="cnumend">Numero:</label><input type="number" name="tnumend" id="cnumend"></p>
            <p><label for="ccep">CEP:</label><input type="number" name="tcep" id="ccep"></p>
            <p><label for="cbairro">Bairro:</label><input type="text" name="tbairro" id="cbairro"></p>
            <p><label for="ccid">Cidade:</label><input type="text" name="tcid" id="ccid"></p>
            <p><label for="cest">Estado:</label><input type="text" name="test" id="cest"></p>
            <p><label for="ccomp">Complemento:</label><textarea name="tcomp" id="ccomp"></textarea></p>
        </fieldset>
        <input type="submit" value="submit">
    </form>
</center>
{% endblock %}