{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}

{% block body %}
<center>
<form action="" method="post">
    <fieldset>
        <legend>Login</legend>
        <h1>Login</h1>
        <p><label for="clogin">Email:</label><input type="text" name="tlogin" id="clogin"></p>
        <p><label for="csenhae">Senha:</label><input type="password" name="tsenhae" id="csenhae"></p>
    </fieldset>
    <input type="submit" value="submit">
</form>
</center>
{% endblock %}