{% extends "base.html" %}

{% block head %}
<!-- Lógica no css, por isso está no html -->
<style> 
    {% if name == None or estoque==0 %}
        button#ccompra{
            display: none;
        }
        input#cquantidade{
            display: none;
        }
    {% endif %}
    div#produto{
        width: 100%;
        display: block;
    }

    div#produto section{
        display: block;
        width: 60%;
    }

    div#produto aside{
        text-align: center;
        float: right;
        position: absolute;
        right: 10%;
        top: 200px;
        width: 30%;
        border: 1px solid black;
    }

    input#cquantidade{
        width: 50px;
    }

    button#ccompra{
        font-size: 12pt;
        background-color: gray;
        border:none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<script>
    
    function produto(dados){
        var campo = document.getElementById('produto')
        var form = document.createElement('form')
        form.method = "post"
        var section = document.createElement('section')
        section.innerHTML+=`<h1>${dados['nome']}</h1>`
        var figure = document.createElement('figure')
        var img = document.createElement('img')
        img.src = `../static/img/${dados['img']}.png`
        figure.appendChild(img)
        section.appendChild(figure)

        var aside = document.createElement('aside')
        var button = document.createElement('button')
        var input = document.createElement('input')
        button.innerText = "Adicionar ao Carrinho"
        aside.innerHTML+=`<h1>Preço: R$ ${dados['preco']*(100-dados['desconto'])/100}</h1>`
        aside.innerHTML+=`<h2>Desconto: ${dados['desconto']}%</h2>`
        input.type = "number"
        input.name = "quantidade"
        input.id = "cquantidade"
        input.value= "0"
        button.name = "compra"
        button.id = "ccompra"
        button.value = `${dados['IDPRODUTO']}`
        form.appendChild(input)
        form.appendChild(button)
        aside.appendChild(form)
        section.innerHTML+=`<p>${dados['descricao']}</p>`
        campo.appendChild(section)
        campo.appendChild(aside)
    
    
    }

    window.addEventListener("load",function(){
        var dados1 = '{{ produto }}'
        dados1 = dados1.replace(/&#39;/gi,'"')
        var map1 = JSON.parse(dados1)
        produto(map1)
        
    });

</script>

{% endblock %}

{% block body %}

<div id="produto">

</div>

{% endblock %}