{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}">

{% endblock %}

{% block body %}


<ul>
    <li name="acao" value="cadastro" id="ccadastro" onclick="location.href=`{{ url_for('cadastro') }}`">Alterar Cadastro</li>
    <li name="acao" value="pedidos" id="cpedidos" onclick="location.href=`{{ url_for('pedidos') }}`">Seus Pedidos</li>
    <li name="acao" value="dados" id="cdados" onclick="location.href=`{{ url_for('dados') }}`">Seus Dados</li>
</ul>

{% endblock %}